# 03 Basics: Matrices and Data frames

* Matrices
* Data frame
* Data Manipulation

---

Welcome to session 03 of our program. 
This time, we want to start with matrices, data frames and their data management. Most data you will encounter will be stored in somesort of matrix, which are often your base for your future data analyse.
A good structured and clear data is always the base for a good research.
Let's dig right into it!

![](https://raw.githubusercontent.com/GC-alex/QM/master/figs/header_sized_small.jpg)


## Matrices 
A `matrix` is a two-dimensional Array. Therefore we have two additional attributes specifying the 2 dimensions: `nrow` und `ncol`.

Create a matrix with the following statement:
`m <- matrix(1:9, nrow = 3, ncol = 3)`
And take a first look at our `matrix` with the following:
`dim(m)`, `nrow(m)`, `ncol(m)`

Create a second matrix called `n` as you like.

---
**Note**

* *Do you want to fill your matrix not by columns but by rows, add the `, byrow = TRUE` in the description of your matrix. (within the brackets!)*
* *Don't forget to type the name of your variable to actually see it!*

---

In [5]:
m <- matrix(1:9, nrow = 3, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9


Just as vectors in session 02 you can use calculations on your matrices.
Try the following and take a look closer look at it's behaviour.

`m * 2`

`m * n` (`n`is our second matrix) 

`cbind(m,n)`

Check out how to access certain variables in our `matrix` !
How do you get the value in the **second row** of the  **first column**?

---
**Hint:** *In vectors we accessed values this way: `v[1]` Now you have two dimensions to specify your value.*

---

Do you remember the vector classes we discovered in session 02? Check the **type** and **class** of our Matrix `m`!

---
**Note:** *JupyterNotebook already prints the **type** of your matrix values when printing the matrix!*

---

In [3]:
class(m)
typeof(m)

[1] "matrix"

[1] "integer"

Create a new **vector** called `x` that with the value "Hello" and now `cbind` our matrix `m` to `x`. What happens if you check for its **type**?

---
**Note:** *You know that the matrix should contain integer values AND character values. Instead you only get `character` as a response to the `typeof()`function - right? If you combine more types, always the "weakest" gets used as output in the end. In this case it is `character` - please keep this in mind, when analyzing your data!* 

---

## Data frames

So now we did a little recap with the help of matrices. Now we want to introduce another important feature of how to store values: data frames.

Data frames are propably your most important tool to storing your data in R. 
But what is the difference compared to a Matrix?

Let's use our data from **session 01**: `airquality`. Use the function `as.data.frame` on the data `airquality`and store it in a variable called `data`.

In [32]:
data <- as.data.frame(airquality)
data

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
... ...   ...     ...  ...  ...   ...
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

Take a look at the types of your different values within the data frame. You can see, that they all have their own type. Regardless of the others. (`Wind` for example is stored in `double`. All the others are stored as `integer`) This is one of the major differences to metrices.


Now if you look at the print of our `data` again, you may notice some strange `NA` values.
When an element or value is “not available” or a “missing value” in the statistical sense, a place within a vector, data frame or matrix may be reserved for it by assigning it the special value `NA`. 

The `is.na()`function helps you determine, wether an element is `NA`or an actual value.
With the help of the `na.omit()` function we can ignore rows in a data frame that contain `NA`s. Please use the functions on our `data` to have a look what happens!

In [45]:
data <- na.omit(data)

---
**Note**
*Why do we need to ignore our `Na`values?*

* *All arithmetic functions and operations applied to `NA`s return `NA`.*

---

## Data Manipulation

In case you actually want to start working with your data, we need to establish some basics how to address your different values correctly.

We start with only adressing **row 10 to 110 of your data**. *Remember how to do it from your knowledge about matrices and vectors!*

Store this subset in a new **variable** (choose a fitting name yourself!)

Then print only **number of rows** from this new variable.

In [66]:
airquality_zeile_10_100 <- data[10:110, ]
nrow(airquality_zeile_10_100)

[1] 101

---
**Check** *If your result is 101, then you did it right!*

---

As you may remember from session 01, we can use the functions `head()` to get only the first rows of our data printed, often this is better than printing all your lines, especially with big datasets.
Alternatively youc can use `names()` to extract only your column names.

We want to adress only a certain column of our dataset. Use `$` to specify the column of our data.

`data$Ozone`

What happens if you try this? 
`airquality[, c("Ozone", "Temp")]`

You can also subset your data. Try this:

`airquality[airquality$Temp > 70, ]`

Assign the subset to a new **variable** and then print the **number of rows** again!

In [48]:
airquality_temp_gr_70 <- data[data$Temp > 70, ]
nrow(airquality_temp_gr_70)

[1] 85

---
**Check** *If your result is 85, then you did it right!*

---

How about we try this:

`airquality_june_13 <- data[data$Month == 6 & data$Day == 13, ]`

You can see, that we can make more complex subsets with logical operators.

Try to create a subset of the **Ozone** values from the **16th of June**.

In [65]:
data[data$Month == 6 & data$Day == 16, "Ozone"]

[1] 21

---
**Check** *Your result should be 21!*

---

With ` x %in% y` you can compare two vectors. For each element in vector `x`, `%in%` evaluates if the element is contained in vector `y`.
Try:

`data[data$Month %in% c(6, 7), ]`

In this case it is the same as `data[data$Month == 6 | data$Month == 7, ]`

Often you can accomplish the same goals in different ways! So don't worry if your way sometimes looks different, than the one of someone else. You will find your style of coding with practice!

Of course we can also do calculations on our values in our columns. Try to calculate the `log()` of our `Ozone`.

Great we have now log transformed data but we want to store it in our data frame `data`.
Simply make use of the `$` operator.

`data$log_Ozone <- log(data$Ozone)`

This should add a new column to your data frame! Check it out!

In [78]:
data$log_Ozone <- log(data$Ozone)

data

    Ozone Solar.R Wind Temp Month Day log_Ozone
1    41   190      7.4 67   5      1  3.713572
2    36   118      8.0 72   5      2  3.583519
3    12   149     12.6 74   5      3  2.484907
4    18   313     11.5 62   5      4  2.890372
7    23   299      8.6 65   5      7  3.135494
8    19    99     13.8 59   5      8  2.944439
9     8    19     20.1 61   5      9  2.079442
12   16   256      9.7 69   5     12  2.772589
13   11   290      9.2 66   5     13  2.397895
14   14   274     10.9 68   5     14  2.639057
15   18    65     13.2 58   5     15  2.890372
16   14   334     11.5 64   5     16  2.639057
17   34   307     12.0 66   5     17  3.526361
18    6    78     18.4 57   5     18  1.791759
19   30   322     11.5 68   5     19  3.401197
20   11    44      9.7 62   5     20  2.397895
21    1     8      9.7 59   5     21  0.000000
22   11   320     16.6 73   5     22  2.397895
23    4    25      9.7 61   5     23  1.386294
24   32    92     12.0 61   5     24  3.465736
28   23    13     12.0 67   5     28  3.135494
29   45   252     14.9 81   5     29  3.806662
30  115   223      5.7 79   5     30  4.744932
31   37   279      7.4 76   5     31  3.610918
38   29   127      9.7 82   6      7  3.367296
40   71   291     13.8 90   6      9  4.262680
41   39   323     11.5 87   6     10  3.663562
44   23   148      8.0 82   6     13  3.135494
47   21   191     14.9 77   6     16  3.044522
48   37   284     20.7 72   6     17  3.610918
... ...   ...     ...  ...  ...   ... ...
123 85    188      6.3 94   8     31  4.442651
124 96    167      6.9 91   9      1  4.564348
125 78    197      5.1 92   9      2  4.356709
126 73    183      2.8 93   9      3  4.290459
127 91    189      4.6 93   9      4  4.510860
128 47     95      7.4 87   9      5  3.850148
129 32     92     15.5 84   9      6  3.465736
130 20    252     10.9 80   9      7  2.995732
131 23    220     10.3 78   9      8  3.135494
132 21    230     10.9 75   9      9  3.044522
133 24    259      9.7 73   9     10  3.178054
134 44    236     14.9 81   9     11  3.784190
135 21    259     15.5 76   9     12  3.044522
136 28    238      6.3 77   9     13  3.332205
137  9     24     10.9 71   9     14  2.197225
138 13    112     11.5 71   9     15  2.564949
139 46    237      6.9 78   9     16  3.828641
140 18    224     13.8 67   9     17  2.890372
141 13     27     10.3 76   9     18  2.564949
142 24    238     10.3 68   9     19  3.178054
143 16    201      8.0 82   9     20  2.772589
144 13    238     12.6 64   9     21  2.564949
145 23     14      9.2 71   9     22  3.135494
146 36    139     10.3 81   9     23  3.583519
147  7     49     10.3 69   9     24  1.945910
148 14     20     16.6 63   9     25  2.639057
149 30    193      6.9 70   9     26  3.401197
151 14    191     14.3 75   9     28  2.639057
152 18    131      8.0 76   9     29  2.890372
153 20    223     11.5 68   9     30  2.995732

# Summary

* A matrix is a two-dimensional Array with two additional attributes specifying the 2 dimensions: nrow und ncol
* Data frames store your information in columns that heep their own type
* NA means "not available" and NA-values should be ignored in data, if you want to do any arithmetics


# List of functions Used
**Matrices**

`matrix(m:n, nrow = x, ncol = y)`

`dim(matrix)` `nrow(matrix)` `ncol(matrix)` `cbind(matrix1,matrix2)`

`class()` `typeof()`

**Data frame**

`as.data.frame()`

`is.na()` `na.omit()`

**Data manipulation**

`head()` `names()`

`$`